.custom-checkbox {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid #4A5568;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
}

.custom-checkbox:checked {
  background-color: #754DF7;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox:checked::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  background-color: white;
  border-radius: 50%;
}
